body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

* {
    margin: 0px;
}

img {
    width: 100%;
}

.img-min {
    background-image: url(/apps-weblocal/img-landing-propuesta/propuesta-postil-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;
}

.barra {
    background-color: rgb(22, 26, 20);
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.titulo-principal {
    margin-top: 50px;
}

.titulo-principal p {
    margin-top: 30px;
}

ol li {
    font-size: 1.3rem;
    color: rgb(71, 71, 71);
}

h1 {
    font-size: 2rem;
    color: #11b28e;
}

span {
    color: #11b28e;
}

h3 {
    font-size: 1.4rem;
    color: #11b28e;
}

h4,
h2 {
    color: rgb(57, 58, 57);
    font-size: 1.3rem;
}

#formulario h3 {
    margin-top: 80px;
}

button {
    display: block;
    margin-top: 30px;
    color: white;
    border: none;
    background-color: #11b28e;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

strong,
p {
    color: rgba(57, 58, 57, 0.781);
    line-height: 2rem;
    font-size: 1.3rem;
}

input {
    margin: 10px;
    border: 1px solid rgba(153, 153, 153, 0.349);
    height: 25px;
    width: 300px;
}

.contenido-footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: black;
}

.contenido-footer span {
    color: white;
}

.resultados {
    margin-top: 50px;
    
}
.contenido-imprimir{
    padding: 30px;
}
@media (min-width: 768px) {
    .img-min {
        display: none;
    }
    .img-grande {
        background-image: url(/apps-weblocal/img-landing-propuesta/propuesta-de-valor-postils-optimizada.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80vh;
    }
}