html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.imagen-header-desktop {
    display: none;
}

.barra {
    background-color: rgb(22, 26, 20);
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.mensaje-principal {
    background-color: rgb(239, 245, 238);
    padding: 30px;
}

.contenedor {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: rgba(57, 58, 57, 0.781);
    line-height: 2rem;
    font-size: 1.3rem;
}

ol li {
    font-size: 1.3rem;
    color: rgb(71, 71, 71);
    line-height: 2.5rem;
}

h1 {
    color: #11b28e;
}

.tengo-para-ti {
    margin: 50px 0px 50px 0px;
}

.tengo-para-ti .linea1 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .3rem;
}

.tengo-para-ti .linea2 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1rem;
    color: #11b28e;
}

.grid-consiste {
    display: flex;
    flex-direction: column-reverse;
}

.sobre-aplicacion {
    background-color: #11b28e;
    padding: 50px;
    font-size: 1.3em;
    margin-top: 50px;
}

.sobre-aplicacion-titulo {
    color: white;
    text-align: center;
}

.sobre-aplicacion-lista ol {
    margin-left: 0px;
    margin-top: 50px;
}

.grid-consiste .sobre-aplicacion-lista ol li {
    list-style-type: decimal;
}

.contenido-footer {
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 150px;
    background-color: black;
}

.contenido-footer span {
    color: white;
}

.formulario-lead {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 500px;
}

@media (min-width: 768px) {
    h1 {
        color: white;
    }
    .definicion {
        color: white;
    }
    .imagen-header-movil {
        display: none;
    }
    .imagen-header-desktop {
        display: block;
        background-image: url(/img-landing-canvas/canvas-model-grafica.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 70vh;
    }
    .contendio-header {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
    }
    .mensaje-principal {
        margin-top: -250px;
        background-color: #11b28e;
        max-width: 650px;
        padding: 50px;
        box-shadow: 0 0 10px rgba(25, 26, 25, 0.589);
    }
    .tengo-para-ti {
        margin: 150px 0px 150px 0px;
    }
    .tengo-para-ti .linea1 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: .3rem;
    }
    .tengo-para-ti .linea2 {
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: .1rem;
        color: #11b28e;
    }
    .grid-consiste {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    .grid-consiste img {
        margin-top: 50px;
    }
}